* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.hover-text {
    margin: 1rem;
    color: #616161;
    padding: 10px;
    border: 1px solid #b6b6b6;
    border-radius: 10px;
    font-weight: 500;
}

.hovered-text {
    display: none;
    background-color: #2D3748;
    width: 110px;
    font-size: 0.9rem;
    padding: 3px;
    color: white;
    text-align: center;
    left: 0.8rem;
    top: 5.6%;
    position: absolute;
    border-radius: 2px;
}

.hover-text:hover + .hovered-text {
    display: block;
}

div {
    margin: 1rem;
    position: relative;
}

.btn {
    background-color: #EDF2F7;
    color: #333a4b;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
}

.close-text {
    display: none;
    background-color: #2D3748;
    width: 115px;
    font-size: 0.9rem;
    padding: 3px;
    color: white;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    left: 3rem;
    top: 120%;
}

.btn:hover + .close-text {
    display: block;
}
